<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="value" />
        <cc:attribute name="style" />
        <cc:attribute name="pattern" default="dd/MM/yyyy"/>
        <cc:attribute name="styleClass" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputText value="#{cc.attrs.value}" style="'#{cc.attrs.style}'" styleClass="'#{cc.attrs.styleClass}'">
            <f:convertDateTime pattern="#{cc.attrs.pattern}" />
        </h:outputText>
    </cc:implementation>
</html>