<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="value" />
        <cc:attribute name="cancelButtonLabel" default="Clear"/>
        <cc:attribute name="deleteButtonLabel" default="Delete"/>
        <cc:attribute name="style" default="false"/>
        <cc:attribute name="dateRangePicker" />
        <cc:attribute name="ajax" default="false"/>
        <cc:attribute name="update" default="@form"/>
        <cc:attribute name="saveButtonAction" method-signature="java.lang.String action()"/>
        <cc:attribute name="cancelButtonAction" method-signature="java.lang.String action()"/>
        <cc:attribute name="deleteButtonAction" method-signature="java.lang.String action()"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:panelGrid columns="1">


            <h:panelGrid columns="5">

                <p:commandButton icon="ui-icon-newwin" type="button" id="rg"/>


                <p:calendar value="#{dateRangePicker.dateRange.fromDate}" 
                            pattern="dd/MM/yyyy" 
                            navigator="true">
                    <p:ajax event="dateSelect" />
                </p:calendar>
                to
                <p:calendar value="#{dateRangePicker.dateRange.toDate}" 
                            pattern="dd/MM/yyyy"  
                            navigator="true"/>
            </h:panelGrid>


            <p:overlayPanel  for="rg" hideEffect="fade">
                <p:selectOneMenu value="#{dateRangePicker.period}">
                    <f:selectItem itemLabel="#{msg.select_one}" />
                    <f:selectItems value="#{dateRangePicker.periodsList}" />
                    <p:ajax update="@form,#{cc.attrs.update}" process="@this"/>
                </p:selectOneMenu>
            </p:overlayPanel>

        </h:panelGrid>

    </cc:implementation>
</html>