<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="value" />
        <cc:attribute name="style" default="false"/>
        <cc:attribute name="ajax" default="false"/>
        <cc:attribute name="update" default="@form"/>
        <cc:attribute name="mindate"/>
        <cc:attribute name="maxdate"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGroup>
            From
            <p:calendar value="#{cc.attrs.value.fromDate}" 
                        pattern="dd/MM/yyyy"
                        mindate ="#{cc.attrs.mindate}"
                        navigator="true" />
        To
            <p:calendar value="#{cc.attrs.value.toDate}" 
                        pattern="dd/MM/yyyy"
                        maxdate ="#{cc.attrs.maxdate}"
                        navigator="true" />
            
        
        </h:panelGroup>
    </cc:implementation>
</html>