<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="includeCss" default="true"/>
        <cc:attribute name="includeJs" default="true"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        
        <h:panelGroup rendered="#{cc.attrs.includeCss}">
            <h:outputStylesheet library="csss" name="animate.css"/>
            <h:outputStylesheet library="csss" name="reset.css"/>
            <h:outputStylesheet library="csss" name="stately-css.css"/>
        </h:panelGroup>
        
        <h:panelGroup  rendered="#{cc.attrs.includeJs}">
            <h:outputScript name="jss/main.js" target="head"/>
            <h:outputScript name="jss/jquery.js" target="head"/>
        </h:panelGroup>
        
    </cc:implementation>

</html>