<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="saveButtonLabel" default="Save"/>
        <cc:attribute name="cancelButtonLabel" default="Clear"/>
        <cc:attribute name="deleteButtonLabel" default="Delete"/>
        <cc:attribute name="otherButtonLabel" default="Other"/>
        
        <cc:attribute name="style" default="false"/>
        <cc:attribute name="ajax" default="false"/>
        <cc:attribute name="update" default="@form"/>
        
        <cc:attribute name="saveButtonAction" method-signature="java.lang.String action()"/>
        <cc:attribute name="cancelButtonAction" method-signature="java.lang.String action()"/>
        <cc:attribute name="deleteButtonAction" method-signature="java.lang.String action()"/>
        <cc:attribute name="otherButtonAction" method-signature="java.lang.String action()"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        
        <h:panelGroup style="#{cc.attrs.style}" >
        
            <f:subview id="sb" rendered="#{formControlManager.enableSaveButton}">
                
                <p:commandButton ajax="#{cc.attrs.ajax}" value="#{cc.attrs.saveButtonLabel}" 
                         rendered="#{not empty cc.attrs.saveButtonAction}" 
                         style="margin-right: 20px"
                         action="#{cc.attrs.saveButtonAction}" 
                         update="#{cc.attrs.update}"/>
            </f:subview>
        
        
            <p:commandButton ajax="#{cc.attrs.ajax}" value="#{cc.attrs.cancelButtonLabel}" 
                         rendered="#{not empty cc.attrs.cancelButtonAction}" 
                         action="#{cc.attrs.cancelButtonAction}" 
                         style="margin-right: 20px;background-color: #444;"
                         immediate="true" update="#{cc.attrs.update}"/>
            
            <f:subview id="sb1" rendered="#{formControlManager.enableSaveButton}">
                <p:commandButton ajax="#{cc.attrs.ajax}"
                         rendered="#{not empty cc.attrs.deleteButtonAction}" 
                         immediate="true"
                         action="#{cc.attrs.deleteButtonAction}" 
                         update="#{cc.attrs.update}" 
                         style="margin-right: 20px"
                         onclick="return confirm('Deleting Selected Record..?')"
                         value="#{cc.attrs.deleteButtonLabel}"/>
            </f:subview>
        
        
        
        <p:commandButton ajax="#{cc.attrs.ajax}" 
                         rendered="#{not empty cc.attrs.otherButtonAction}" 
                         action="#{cc.attrs.otherButtonAction}" 
                         style="margin-right: 20px"
                         value="#{cc.attrs.otherButtonLabel}"/>
        
        </h:panelGroup>
        
    </cc:implementation>
    
</html>